<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="/user/login" method="post" onsubmit="return check()">
        <h1>用户登录</h1>
        <p>用户名: <input type="text" name="username"><span id="span1"></span></p>
        <p>密码: <input type="password" name="password"><span id="span2"></span></p>
        <p>
            <input type="checkbox" name="remember">记住密码
        </p>
        <input type="submit" value="登录">
        <a href="/user/regist">没有账号? 点击注册</a>
    </form>

    <script src='/js/jquery.min.js'></script>
    <script>
        // 判断表单数据是否合法
        function check(){
            $('#span1').html('');
            $('#span2').html('');

            var username = $('input[name=username]').val().trim();
            var password = $('input[name=password]').val().trim();
            console.log($('input[name=username]'));
            if(username == ''){
                $('#span1').html('用户名不能为空').css('color','red');
                return false;
            }
            if(password == ''){
                $('#span2').html('密码不能为空').css('color','red');
                return false;
            }
            return true;

        }
    </script>
</body>
</html>